.title {
    font-size: 12pt;
    padding: 10px;
}
img {
    padding-bottom: 10px;
    box-shadow: -.5px 1px 20px 0px rgba(0,0,0,0.50);

}
.year {
    font-size: 10pt;
}
.movieCard {
    width: 300px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 25px;
    margin-top: 50px;
    display: inline-block;
}